<%= form_for(@aeronafe) do |f| %>
  <% if @aeronafe.errors.any? %>
 
  
  
  # codigo antigo
    <div id="error_explanation">
      <h2><%= pluralize(@aeronafe.errors.count, "error") %> prohibited this aeronafe from being saved:</h2>

      <ul>
      <% @aeronafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :numero_De_Tripulantes %><br>
    <%= f.text_field :numero_De_Tripulantes %>
  </div>
  <div class="field">
    <%= f.label :tamanho %><br>
    <%= f.text_field :tamanho %>
  </div>
  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :chassi %><br>
    <%= f.text_field :chassi %>
  </div>
  <div class="field">
    <%= f.label :quantidade_De_Horas_De_Voo %><br>
    <%= f.text_field :quantidade_De_Horas_De_Voo %>
  </div>
  <div class="field">
    <%= f.label :quantidade_De_Motor %><br>
    <%= f.text_field :quantidade_De_Motor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  
<% end %>
